@import '~bootstrap/dist/css/bootstrap.css';

.f-10 {
    font-size: 10px;
}
.f-11 {
    font-size: 11px;
}
.f-12 {
    font-size: 12px;
}
.cr-pointer {
    cursor: pointer;
}
.cr-not-allowed {
    cursor: not-allowed;
}


